{% extends 'base.html' %}
{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ post.category }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ post.pub_time }}">{{ post.pub_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
                <span class="comments-link"><a href="#">{{ comment_list|length }} comments</a></span>
                <!-- <span class="views-count"><a href="#">555 閱讀</a></span> -->
                <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'blog:post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </header>
        <div class="entry-content clearfix">
            {% if post.abstract %}
                <p>Abstract: <br/> {{ post.abstract|linebreaks }}</p><br/>
            {% endif %}
            <p>Content: <br/> {{ post.body|linebreaks }}</p>
        </div>
    </article>
    <section class="comment-area" id="comment-area">
        <hr>
        <h3>Add a comment</h3>
        <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="{{ form.name.id_for_label }}" class="required">Name</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.email.id_for_label }}" class="required">Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.url.id_for_label }}">URL</label>
                    {{ form.url }}
                    {{ form.url.errors }}
                </div>
                <div class="col-md-12">
                    <label for="{{ form.text.id_for_label }}" class="required">Comment</label>
                    {{ form.text }}
                    {{ form.text.errors }}
                    <button type="submit" class="comment-btn">Submit</button>
                </div>
            </div>    <!-- row -->
        </form>
        <div class="comment-list-panel">
            <h3>Comment List | Total: <span>{{ comment_list|length }}</span> comments</h3>
            <ul class="comment-list list-unstyled">
                {% for comment in comment_list %}
                    <li class="comment-item">
                        <span class="nickname">{{ comment.name }}</span>
                        <time class="submit-date">{{ comment.created_time }}</time>
                        <span class="email"> {{ comment.email}}</span>
                        <span class="url"> {{comment.url}}</span>
                        <div class="text">
                            {{ comment.text|linebreaks }}
                        </div>
                    </li>
                {% empty %}
                <I>No comment</I>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock main %}
{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目錄</h3>
        <ul>
            <li>
                <a href="#">課程特點</a>
            </li>
            <!-- <li>
                <a href="#">谁适合这个教程</a>
            </li> -->
            <li>
                <a href="#">線上預覽</a>
            </li>
            <li>
                <a href="#">資源列表</a>
            </li>
            <li>
                <a href="#">獲取幫助</a>
            </li>
        </ul>
    </div>
{% endblock toc %}
